/* Questrial Font */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* Font rules and colors */
:root {
  font-family: Questrial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --white: #FFF;
  --grey: #7F7F7F;
  --grey2: #F8F9FA;
  --black: #000;
  --black2: #00000080;
  --yellow: #bfa580;
  --green: #398180;
  --red: #C9575A;

  --facebook: #3b5999;
  --twitter: #55acee;
  --instagram: #e4405f;
  --github: #24292F;
  --linkedin: #0077B5;
}