/* Questrial Font */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* Font rules and colors */
:root {
  font-family: Questrial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --white: #FFF;
  --grey: #7F7F7F;
  --black: #000;
  --yellow: #bfa580;
  --green: #398180;
  --red: #C9575A;
}